@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    --primary-color: #5603AD;
    --secondary-color: #8367C7;
    --accent1-color: #F7F7FF;
    --accent2-color: #40C9A2;

    --heading-font: "Archivo Black", display;
    --paragraph-font: "Roboto Mono", monospace;

    --nav-background-color: var(--accent1-color);
    --nav-link-color: var(--secondary-color);
    --nav-hover-link-color: var(--primary-color);
    --nav-hover-background-color: var(--accent2-color);

    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero{
    display: block;
    width: 100%;
    height: auto;
}
